<section class="category-section">
  <div class="sg-container relative">
    <!-- Desktop Carousel -->
    <div class="hidden lg:block">
      <p-carousel
        [value]="categories"
        [numVisible]="10"
        [numScroll]="3"
        [circular]="true"
        [responsiveOptions]="desktopResponsive"
        styleClass="category-carousel"
        style="touch-action: pan-y !important;"
      >
        <ng-template let-cat pTemplate="item">
          <div class="cat-item" [id]="'cat-' + cat.id">
            <div class="cat-circle">
              <img src="assets/charger.png" [alt]="getCategoryName(cat)" class="cat-img" loading="lazy">
            </div>
            <span class="cat-name">{{ getCategoryName(cat) }}</span>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <!-- Mobile Carousel -->
    <div class="lg:hidden">
      <p-carousel
        [value]="categories"
        [numVisible]="4"
        [numScroll]="1"
        [circular]="true"
        [responsiveOptions]="[{breakpoint: '768px', numVisible: 4, numScroll: 1}]"
        styleClass="category-carousel mobile-carousel"
        style="touch-action: pan-y !important;"
      >
        <ng-template let-cat pTemplate="item">
          <div class="cat-item" [id]="'cat-' + cat.id">
            <div class="cat-circle">
              <img src="assets/charger.png" [alt]="getCategoryName(cat)" class="cat-img" loading="lazy">
            </div>
            <span class="cat-name">{{ getCategoryName(cat) }}</span>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>
